@namespace Facturacion.Blazor.Components
@inherits LayoutComponentBase
@using Facturacion.Blazor.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
@inject AuthService Auth

<div class="page">
    <header class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <div class="container-fluid">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Factura Express</NavLink>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="dashboard">Inicio</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/clientes/lista">Clientes</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/productos/lista">Productos</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/lotes/listar" Match="NavLinkMatch.All">Lotes</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="facturas" Match="NavLinkMatch.All">Facturación</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/reportes/cobros" Match="NavLinkMatch.All">Cobros</NavLink>
                            </li>

                        </ul>
                        <span class="navbar-text me-3 text-light">Hola, @context.User.Identity?.Name</span>
                        <a class="btn btn-outline-danger btn-sm" href="logout">Salir</a>
                    </Authorized>
                    <NotAuthorized>
                        <div class="ms-auto">
                            <a class="btn btn-outline-light btn-sm" href="login">Entrar</a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </header>

    <main class="flex-fill">
        <div class="container py-4">
            @Body
        </div>
    </main>

    <footer class="border-top footer py-3 mt-auto text-center text-muted small">
        <div class="container">
            © 2025 FacturaExpress · Sprint 1 – Fundamentos y CRUD
        </div>
    </footer>
</div>





