@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Facturacion.Blazor.Components.Pages  

<PageTitle>Inicio</PageTitle>

<!-- HERO -->
<section class="hero mb-5 rounded-3">
  <div class="container py-5">
    <div class="col-12 col-lg-7">
      <h1 class="display-5 fw-bold mb-3">Sistema de Facturación Electrónica para PYMES</h1>
      <p class="lead mb-4">Facturar electrónicamente nunca fue tan fácil.</p>
      <div class="d-flex flex-wrap cta">
        <a class="btn btn-primary btn-lg" href="/clientes/lista">
          Ir a Clientes
        </a>
        <a class="btn btn-ghost btn-lg" href="/productos/lista">
          Ver Productos
        </a>
      </div>
    </div>
  </div>
</section>

<!-- CONTENIDO APP QUE YA TENÍAS -->
<div class="home-card">
  <Home />
</div>

